.main_content {
  opacity: 1;
  animation-name: fadein;
  animation-duration: 2s;
}

.background-video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}

.background-video-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
}

.title-content {
  position: relative;
  z-index: 2;
  padding: 5em;
  width: 70vw;
  height: 100vh;
}

.main-content {
  padding: 3em;
  width: 70vw;
}

@keyframes fadein {
  0% {
    opacity: 0.1;
    transform: translateY(0.5em);
  }
 100% {
    opacity: 1;
    transform: translateY(0em);
  }
}
