body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.main {
    margin-top: 60px;
}